body            { font-family: Arial; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: Arial; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
table           { border: 4px; }
td              { background: #aaaaaa; }

.page           { margin: 2em auto; width: 95%; border: 2px solid white;
                  padding: 0.8em; background: #aaaaaa; }
.error          { background: #f0d6d6; padding: 0.5em; }
