<!doctype html>
<html>
  <head>
    <title>Face Detection</title>
  </head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <div class=page>
    <h1>Face Detection from Image</h1>
    <form action="/upload" method="POST" enctype=multipart/form-data>
      <table>
        <tr>
          <th>Select file</th>
          <th><input name="file" type="file"></th>
        </tr>
        <tr>
          <th>Max face count:</th>
          <th><input name="faces" type="number"></th>
        </tr>
      </table>
      <input type="submit">
    </form>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
